<nav class="navbar">
  <div class="nav-container">
    <a routerLink="/" class="logo">E-Commerce</a>
    
    <div class="nav-links">
      <ng-container *ngIf="currentUser$ | async as user; else notLoggedIn">
        <a routerLink="/products" routerLinkActive="active">Products</a>
        <span class="user-name">Welcome!</span>
        <!-- <span class="user-name">Welcome, {{user.firstName}}!</span> -->
        <button (click)="logout()" class="btn-logout">Sign Out</button>
      </ng-container>
      
      <ng-template #notLoggedIn>
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
      </ng-template>
    </div>
  </div>
</nav>